// Specific CSS for your home-page
// .header-landing {
//   color: #8a816a;
//   font-family: "Dosis", sans-serif;
// }
// .banner h1 {
//   color: white;
//   font-family: "Dosis", sans-serif;
// }

.header-landing {
  color: #403d36;
  margin-left: -390px;
  margin-top: 156px;
  font-family: "Cormorant Garamond", serif;
  font-size: xx-large;
}

.box-landing {
  position: absolute;
  left: -361px;
}
