// Import page-specific CSS files here.
@import "home";
@import "show";
@import "dashboard";

body{
  // background: #eee2dc;
  // background: #d1e8e2;
  // background: rgba(128, 179, 199, 0.2);
  // background: rgba(226, 248, 250, 0.62);
  background: white;
}

.index-container{
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}

.boat_index{
  width: 100%;
}

.not-header{
  display: flex;
  justify-content: space-between;
}

.card_{
  width: 800px;
}

.boat-card{
  width: 500px;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 10px;
  text-align: left;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  // border: solid 4px #257aa6;
  vertical-align: baseline;
  line-height: 1;
}

.boat-card:hover{
  background: #e0e0e0;
  text-decoration: none;
}

.boat{
  color: black;
  margin: 10px;
  margin-left: 20px;
  line-height: 1.5;
  width: 100%;
}


.boat-info p{
  margin: 0;
}

.boat-info:hover{
  text-decoration: none;
}

.info{
  background: #FCFDFF;
  width: 500px;
  border: groove 2px #3C87B2;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 5px;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.boat-card ul{
  list-style: none;
  line-height: 1.5;
}

.boat-card li{
  display: inline;
  font-size: 18px;
  font-family: 'Source Serif Pro', serif;
}

p{
  font-family: 'Source Serif Pro', serif;
}

h2{
  padding: 10px;
  font-family: 'Dosis', sans-serif;
}

h1{
  padding-bottom: 10px;
  font-family: 'Dosis', sans-serif;
}

h3{
  font-family: 'Dosis', sans-serif;
}

.form_container{
  margin: 20px auto;
  width: 700px;
  padding: 10px;
}

.btn{
  border-radius: 3px;
  color: white;
  // background-color: #074684;
  // background-color: #387DA5;
  background-color: #042f4b;
  border: #387DA5;
  padding: 5px;
  margin: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  text-align: center;
}

.header-boat{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.action_list{
  width: 300px;
  padding: 0;
  text-align: right;
  margin-bottom: 0;
  margin-top: 40px;
}

.map{
  width: 500px;
  margin-right: 40px;
}

#map{
  border: 6px solid white;
  height: 80vh;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.inline{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}


.form_container{
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin-top: 80px;
}

.form_container p{
  margin: 0;
  text-align: right;
}

.header{
  display: flex;
  justify-content: space-between;
}

.sum p{
  margin-bottom: 10px;
}

.avatar_{
  text-align: right;
}

.navbar_button{
  color: #696464;
  text-decoration: none;
  padding-right: 20px;
  font-size: 18px;
}
