// Import page-specific CSS files here.
@import "home";
@import "show";
@import "dashboard";

body{
  // background: #eee2dc;
  // background: #d1e8e2;
  // background: rgba(128, 179, 199, 0.2);
  // background: rgba(226, 248, 250, 0.62);
  background: white;
}

.index-container{
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}

.boat_index{
  width: 100%;
}

.not-header{
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

.card_{
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 40px;
  margin-left: 25px;
}

.card_ a:link{
    text-decoration: none;
}

.boat-card{
  width: 450px;
  background: white;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 5px 10px;
  text-align: left;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  vertical-align: baseline;
  line-height: 1;
  transition: box-shadow .2s ease;
}

.boat-card:hover{
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
}

.boat{
  color: black;
  margin: 10px;
  margin-left: 20px;
  line-height: 1.5;
  width: 100%;
}

.boat-info p{
  margin: 0;
}

.boat-card ul{
  list-style: none;
  line-height: 1.5;
}

.boat-card li{
  display: inline;
  font-size: 18px;
  font-family: "Proza Libre", sans-serif;
}

p{
  font-family: "Proza Libre", sans-serif;
}

h2{
  padding: 10px;
  font-family: "Cormorant Garamond", serif;
}

h1{
  padding-bottom: 10px;
  font-family: "Cormorant Garamond", serif;
}

h3{
  font-family: "Cormorant Garamond", serif;
}

.btn{
  border-radius: 3px;
  color: white;
  background-color: #042f4b;
  border: #387DA5;
  padding: 5px;
  margin: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
}

.btn:hover{
  color: white;
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
}

.header-boat{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.action_list{
  width: 300px;
  padding: 0;
  text-align: right;
  margin-bottom: 0;
  margin-top: 40px;
}

.map{
  width: 400px;
  margin-right: 25px;
}

#map{
  border: 6px solid white;
  height: 80vh;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
}

.inline{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.large_form_container{
  margin-top: 80px;
}

.form_container{
  background: white;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  margin: 0 auto;
  margin-bottom: 20px;
  width: 700px;
  padding: 10px;
}

.form_container p{
  margin: 0;
  text-align: right;
}

.header{
  display: flex;
  justify-content: space-between;
}

.sum p{
  margin-bottom: 10px;
}

.avatar_{
  text-align: right;
}

.back{
  margin: 10px;
  padding: 5px 10px;
  font-size: 20px;
}

.back_{
  margin: 0;
}

.create_btn{
  font-size: 20px;
}

.forgot_pw{
  color: #696464;
}

.forgot_pw:hover{
  color: black;
}

.unavailability{
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
  padding-top: 170px;
  padding-right: 160px;
  text-align: center;
}

.unavailability .btn{
  font-size: 22px;
}


