
.container{
  margin-top: 80px;
}

.boat-container {
  background: white;
  padding: 20px;
  border-radius: 3px;
  align-content: stretch;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}


#booking-form {
  // height: 500px;
  position: sticky;
  top: 0;
  background: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.total{
  border-top: dashed 1px black;
  padding-top: 20px
}

.details-infos{
  // display: flex;
  // background: #edeae4;
  // border: 2px #edeae4;
  // padding: 5px;
  // margin-top: 10px;
  display: flex;
  background: #FCFDFF;
  border: groove 2px #3C87B2;
  padding: 5px;
  margin-top: 8px;
}

.details-box {
  margin-top: 10px;
}

.owner-pic {
  margin-right: 20px;
}

.boat-photo {
  display: flex;
}

.boat-container-header {
  display: flex;
  justify-content: space-between;
}

.bb{
  text-align: center;
}

.booking_btn{
  font-size: 25px;
  padding: 20px;
}

.owner{
  display: flex;
  margin-bottom: 10px;
}

.main-info h2{
  margin-bottom: 0;
  padding: 0;
}

.back{
  margin: 0;
  text-align: right;
}
