.banner {
  background-image: url('https://images.unsplash.com/photo-1508436547239-a2149a3d9a46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  // background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 10vh;
  font-weight: 900;
  font-family: "Montserrat";
  position: relative;
}

.btn {
color: white;
background-color: #575859;
border-color: #575859;
border-radius: 5px;
}

@media (min-width: 1100px) {
  .banner {
  background-size: cover;
  background-position: bottom;

  }
}

