.banner {
  background-image: url('https://images.unsplash.com/photo-1498811107811-a20a5be82dc1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 10vh;
  font-weight: 900;
  font-family: "Montserrat";
}

.btn {
color: white;
background-color: #575859;
border-color: #575859;
border-radius: 5px;
}

