
.white-box-container {
  background: white;
  padding: 20px;
  border-radius: 7px;
  margin-left: 430px;
  width: 388px;
  margin-top: 2px;
  margin-right: 815px;
  opacity: 0.9;

}


.white-box-container label {
  color: #4f4343;
  float: left;
  margin: inherit;


  // margin-left: -300px;
}

.flexbox {
  display: flex;
  justify-content: space-around;


}

.flex-setting {
  flex: 0 0 40%;
}



