<div class="photo-map"><%= cl_image_tag boat.photo, height: 105, width: 125 %></div>
<div class ="info-text">
<h2><%= link_to boat.name, boat_path(boat), class: 'link'%></h2>
<p>Type: <%= boat.boat_type %></p>
<p>Price: <strong><%=boat.price%></strong>$ per day</p>
</div>
